<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>new chat</title>
</head>
<body>
  <form method="post" action="/chats">
    <input type="text" placeholder="who are you ?" name="from">
    <br><br>
    <textarea name="msg" cols="15" rows="5" placeholder="Write your msg here..."></textarea>
    <br><br>
    <input type="text" placeholder="add reciver name " name="to">
    <br><br>
    <button type="submit">Create Chat</button>
  </form>
  
</body>
</html>